<header focusOnNavigation class="docs-header-background" aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Goal Collaboration</h1>
      <h2>Achieve your goals with like minded people.</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
    </div>
  </div>
</header>

<main class="docs-homepage-promo">
  <div class="docs-homepage-row docs-introduction">
    <div class="docs-homepage-row-column">
      <h2>Accountability</h2>
      <p>
        Goals Collaboration platforms provides like minded people to join your goal, or help you achieve your goals.
      </p>
      <p>This sense of community creates accountability.</p>
    </div>
    <div class="docs-homepage-row-column">
      <h2>Tools</h2>
      <p>
        Goals Collaboration platforms provides all necessary tools to track you goals.
      </p>
      <p>
        Talk/Chat/Share docs with collaborators, Why not Meet them face to face ?
      </p>
    </div>
    <div class="docs-homepage-row-column">
      <h2>Community</h2>
      <p>
        Create a community of people that can join your goal.
      </p>
      <p>
        Create a community of people that can help achieve your goal.
      </p>
    </div>
    
  </div>

  <mat-divider></mat-divider>
<!--
  <div class="docs-homepage-featured-components docs-homepage-carousel-row">
    <div class="docs-homepage-header">
      <h2>Featured components</h2>

      <a class="docs-link" routerLink="/components">
        View all components
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
    <app-carousel [aria-label]="'Featured components'">
      <a *ngFor="let comp of getTopComponents()" carousel-item class="carousel-item docs-featured-components-carousel-item"
         routerLink="/components/{{comp}}">
        <div class="docs-homepage-img-container">
          <img alt="" src="../../../assets/screenshots/{{comp}}.scene.png" role="presentation">
        </div>
        {{(comp[0].toUpperCase() + comp.slice(1)).replace('-', ' ')}}
      </a>
    </app-carousel>
  </div>

  <mat-divider></mat-divider>

  <div class="docs-homepage-guides docs-homepage-carousel-row">
    <div class="docs-homepage-header">
      <h2>Guides</h2>

      <a class="docs-link" routerLink="/guides">
        View all guides
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
    <app-carousel [aria-label]="'Guides'">
      <a carousel-item class="carousel-item docs-homepage-guides-carousel-item" *ngFor="let guide of guideItems.getAllItems()"
         routerLink='/guide/{{guide.id}}'>
        <mat-card class="docs-homepage-guides-card">
          <mat-card-title>{{guide.name}}</mat-card-title>
          <div class="docs-homepage-guides-card-divider"></div>
          <mat-card-content class="docs-component-category-list-card-summary">
            {{guide.overview}}
          </mat-card-content>
        </mat-card>
      </a>
    </app-carousel>
  </div>
-->
</main>

<app-support></app-support>
<app-footer></app-footer>
